
<% content_for :title, "SnapWander: Travel & Share" %>
<h1>Hello, Ruby on Rails</h1>
<h2>Suraj Budhathoki</h2>
<h1>Articles</h1>
<%= link_to "Add a New Article", new_article_path %>

<div class="articles-grid">
  <% @articles.each do |article| %>
    <div class="article-card">
      <%= link_to article.title, article, class: "article-title" %>
      <% if article.images.attached? %>
        <%= image_tag article.images.first, class: "article-image" %>
        <% else %>
        <p class = "article-title" >No image available</p>
      <% end %>
    </div>
   
  <% end %>
   
</div>





